<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="employee" class="org.example.Employee">
		<property name="id" value="10"/>
		<property name="name" value="Deepak"/>
	</bean>

	<bean name="hospital" class="org.example.list.Hospital">
		<property name="name" value="Mundo Hospital"/>
		<property name="departments">
			<list>
				<value>Reception</value>
				<value>Surgery</value>
				<value>Cardiology</value>
			</list>
		</property>
	</bean>

	<bean name="cardealer" class="org.example.set.CarDealer">
		<property name="name" value="Miami Dealer"/>
		<property name="models">
			<set>
				<value>Honda</value>
				<value>BMW</value>
				<value>Hyundai</value>
			</set>
		</property>
	</bean>

	<bean name="customer" class="org.example.map.Customer">
		<property name="id" value="111"/>
		<property name="products">
			<map>
				<entry key="100" value="Chocolate cookie"/>
				<entry key="1580" value="Rice and pork"/>
			</map>
		</property>
	</bean>

	<bean name="countriesAndLanguages" class="org.example.properties.CountriesAndLanguages">
		<property name="countriesAndLanguages">
			<props>
				<prop key="USA">English</prop>
				<prop key="India">Hindi</prop>
			</props>
		</property>
	</bean>

	<bean name="scores" class="org.example.reftypes.Scores" p:math="80" p:physics="90" p:chemistry="78"/>

	<bean name="student" class="org.example.reftypes.Student" p:scores-ref="scores"/>

</beans>